<header class="text-center">
    <h1 class="features" style="">FEATURES</h1>
    <h3 style="font-family: Rubik, sans-serif;font-weight: bold;color: rgb(255,255,255);">IT&#39;S TIME TO MAKE
        A CHANGE</h3>
</header>
<div style="margin-bottom: 2rem;" >
<div class="row d-xl-flex" style="margin-top: 2rem;">
    <div class="col-md-4 d-flex justify-content-center justify-content-sm-center justify-content-xl-center"
        style="margin-top: 2rem;">
        <div class="card"
            style="border-radius: 0rem;width: 259px;box-shadow: 7px 7px rgb(32,50,68);">
            <div class="card-header" style="background: rgb(40,39,94);border-radius: 0;">
                <h4
                    style="font-family: Rubik, sans-serif;font-size: 1rem;color: var(--bs-white);font-weight: bold;">
                    Unlimited Chats and Massages</h4>
            </div>
            <div class="card-body" style="border-radius: 0rem;text-align: center;"><i class="fas fa-infinity" 
                    style="font-size: 78px; color: blueviolet;"></i>
                <p class="card-text text-muted" style="font-family: Archivo, sans-serif;margin-top: 1rem;">
                    With over 2B active users, it is the most convenient and comfortable channel to reach a use. Connect and start conversation with the maximum numbers of users in same budget.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center justify-content-sm-center justify-content-xl-center"
        style="margin-top: 2rem;">
        <div class="card"
            style="border-radius: 0rem;width: 259px;box-shadow: 7px 7px rgb(32,50,68);">
            <div class="card-header" style="background: rgb(40,39,94);border-radius: 0;">
                <h4
                    style="font-family: Rubik, sans-serif;font-size: 1rem;color: var(--bs-white);font-weight: bold;">
                    Generate qualified Leads</h4>
            </div>
            <div class="card-body" style="border-radius: 0rem;text-align: center;"><i class="fas fa-star"
                    style="font-size: 78px;color: blueviolet;"></i>
                <p class="card-text text-muted" style="font-family: Archivo, sans-serif;margin-top: 1rem;">Proactively reach out to prospects by engaging them in a conversation on WhatsApp. Get answers to simple questions like budget, authority, need and timeline and generate qualified leads.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4  d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center"
        style="margin-top: 2rem;">
        <div class="card"
            style="border-radius: 0rem;width: 259px;box-shadow: 7px 7px rgb(32,50,68);">
            <div class="card-header" style="background: rgb(40,39,94);border-radius: 0;">
                <h4
                    style="font-family: Rubik, sans-serif;font-size: 1rem;color: var(--bs-white);font-weight: bold;">
                    Rich Media Support</h4>
            </div>
            <div class="card-body" style="border-radius: 0rem;text-align: center;"><i class="fas fa-images"
                    style="font-size: 78px;color: blueviolet;"></i>
                <p class="card-text text-muted " style="font-family: Archivo, sans-serif;margin-top: 1rem;">Bring your conversation intuitive by making use of images, gifs, videos, pdfs and what not. </p>
            </div>
        </div>
    </div>
  
</div>
</div>

<div style="margin-bottom: 6rem;" >
    <div class="row d-xl-flex" style="margin-top: 2rem;">
        <div class="col-md-4 d-flex justify-content-center justify-content-sm-center justify-content-xl-center"
            style="margin-top: 2rem;">
            <div class="card"
                style="border-radius: 0rem;width: 259px;box-shadow: 7px 7px rgb(32,50,68);">
                <div class="card-header" style="background: rgb(40,39,94);border-radius: 0;">
                    <h4
                        style="font-family: Rubik, sans-serif;font-size: 1rem;color: var(--bs-white);font-weight: bold;">
                        24/7 Availability</h4>
                </div>
                <div class="card-body" style="border-radius: 0rem;text-align: center;"><i class="fas fa-headset" 
                        style="font-size: 78px; color: blueviolet;"></i>
                    <p class="card-text text-muted" style="font-family: Archivo, sans-serif;margin-top: 1rem;">
                        Your chatbots work round the clock in serving any and all queries that your current and future customers may bring forth.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center justify-content-sm-center justify-content-xl-center"
            style="margin-top: 2rem;">
            <div class="card"
                style="border-radius: 0rem;width: 259px;box-shadow: 7px 7px rgb(32,50,68);">
                <div class="card-header" style="background: rgb(40,39,94);border-radius: 0;">
                    <h4
                        style="font-family: Rubik, sans-serif;font-size: 1rem;color: var(--bs-white);font-weight: bold;">
                        Personal Server</h4>
                </div>
                <div class="card-body" style="border-radius: 0rem;text-align: center;"><i class="fas fa-server"
                        style="font-size: 78px;color: blueviolet;"></i>
                    <p class="card-text text-muted" style="font-family: Archivo, sans-serif;margin-top: 1rem;">Host your Chatbot on personal Server and enjoy flexibility, high end security and data backup.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4  d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center"
            style="margin-top: 2rem;">
            <div class="card"
                style="border-radius: 0rem;width: 259px;box-shadow: 7px 7px rgb(32,50,68);">
                <div class="card-header" style="background: rgb(40,39,94);border-radius: 0;">
                    <h4
                        style="font-family: Rubik, sans-serif;font-size: 1rem;color: var(--bs-white);font-weight: bold;">
                        Human Touch Chatbot Management </h4>
                </div>
                <div class="card-body" style="border-radius: 0rem;text-align: center;"><i class="fas fa-user-cog"
                        style="font-size: 78px;color: blueviolet;"></i>
                    <p class="card-text text-muted " style="font-family: Archivo, sans-serif;margin-top: 1rem;">Have a birds eye view of all the conversation being handled by the chatbot in real-time. Manually take a human handover of conversations which you think would need a personal touch.</p>
                </div>
            </div>
        </div>
      
    </div>
    </div>